{
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["jest"]
}
